#!/usr/bin/env ruby

compile %r[\/[0-9]{4}\/[0-9]{2}\/.*] do
  filter :erb
  layout '/article.*'
end

compile '/**/*.erb' do
  filter :erb
  layout '/default.*'
end

compile '/**/*.html' do
  layout '/default.*'
end

compile '/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

route '/**/*.{html,md,erb}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/static/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
