---
title: Home
---

<% sorted_articles.each do |post| %>
<div>
  <h1 class="ma0 pa0 f4 f3-m f2-l"><%= link_to(post[:title], post, {'class' => 'link black'}) %></h3></a>
  <time class="f6 mb2 dib ttu tracked mid-gray"><small><%= post[:created_at] %></small></span>
</div>
<p class="mb5 measure copy lh-copy"><%= post[:excerpt] %></p>
<% end %>
