---
title: Home
---

<% sorted_articles.each do |post| %>
<div class="index-title">
  <%= link_to(post[:title], post) %>
</div>
<div class="index-excerpt"><time class="index-date"><%= post[:created_at] %> |</time> <%= post[:excerpt] %></div>
<br />
<% end %>
