<header class="bg-gold sans-serif">
  <div class="mw9 center pa4 pt5-ns ph7-l">
    <h3 class="f2 f1-m f-subheadline-l measure-narrow lh-title mt0 mb3">
      <span class="bg-black lh-copy pa1 tracked-tight">
        <a class="link gold hover-white" href="/">txt.jarred.eu</a>
      </span>
    </h3>
    <nav class="f6 fw6 ttu tracked-tight black-80">
      <a class="link hover-bg-white black dib mr3" href="/about/">About</a>
    </nav>
  </div>
</header>
